---
import Footer from "../components/Footer.astro";
---

<section class="bg-white dark:bg-gray-900 min-w-full">
  <div class="pl-20 max-sm:pl-14 py-10 w-full">
    <div class="container mt-10 md:mt-10">
      <slot />
    </div>
    <Footer />
  </div>
</section>
