---
import Dashboar from "../components/Dashboar.astro";
import Footer from "../components/Footer.astro";

const { category, title, description } = Astro.props;
---

<section class="bg-white dark:bg-gray-900 min-w-full">
  <div class="pl-20 max-sm:pl-14 py-10 w-full">
    <div class="fixed top-20" style="z-index: 2;">
      <Dashboar
        category={category}
        title={title}
        description={description}
      />
    </div>
    <div class="container mt-8 md:mt-80">
      <slot />
    </div>
    <Footer />
  </div>
</section>
