---
---

<section class="bg-white dark:bg-gray-900 min-w-full">
  <div class="pl-20 max-sm:pl-14 py-10 w-full">
    <div
      class="fixed top-0 py-2 mx-auto grid grid-cols-1 md:grid-cols-2 items-center md:gap-20 bg-white"
      style="z-index: 1;"
    >
      <div class="content">
        <div class="flex items-center gap-3">
          <hr class="w-10 bg-orange-500 border" />
          <span class="md:text-[18px] font-medium text-gray-800">
            Developer Backend/Frontend
          </span>
        </div>
        <p
          class="text-[40px] lg:text-[45px] xl:text-[55px] font-bold leading-tight mt-5 sm:mt-0"
        >
          I'm bored <br /> and this is a test blog
        </p>
        <p class="mt-5 md:text-md">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
    </div>

    <slot />
  </div>
</section>
