---
---

<nav
  class="fixed bg-white w-full flex justify-between items-center mx-auto px-8 h-20"
  style="z-index: 1;"
>
  <div class="inline-flex">
    <a class="_o6689fn" href="/"
      ><div class="hidden md:block">
        <svg
        class="w-40 h-40"
          width="1472"
          height="458"
          viewBox="0 0 1472 458"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M368.017 57.0064C364.817 57.0064 361.817 57.4064 359.117 58.3064C340.017 63.8064 313.017 68.9064 284.817 61.6064C227.417 46.7064 160.217 69.0065 110.117 119.106C60.0166 169.206 37.7166 236.406 52.6166 293.806C59.9166 322.006 54.8166 349.006 49.3166 368.106C48.5166 370.906 48.0166 373.906 48.0166 377.006C48.0166 394.706 62.3166 409.006 80.0166 409.006C83.2166 409.006 86.2166 408.606 88.9166 407.706C108.017 402.206 135.017 397.006 163.217 404.406C220.617 419.306 287.817 397.006 337.917 346.906C388.017 296.806 410.317 229.606 395.417 172.206C388.117 144.006 393.217 117.006 398.717 97.9064C399.517 95.1064 400.017 92.1064 400.017 89.0064C400.017 71.3064 385.717 57.0064 368.017 57.0064ZM368.017 9.00644C412.217 9.00644 448.017 44.8064 448.017 89.0064C448.017 96.7064 446.917 104.206 444.917 111.306C440.317 127.106 437.817 144.206 441.917 160.206C462.017 237.806 431.017 321.706 371.917 380.906C312.817 440.106 228.817 471.106 151.217 450.906C135.217 446.806 118.217 449.306 102.317 453.906C95.2166 455.906 87.7166 457.006 80.0166 457.006C35.8166 457.006 0.016555 421.206 0.016555 377.006C0.016555 369.306 1.11655 361.806 3.11655 354.706C7.71655 338.906 10.2166 321.806 6.11655 305.806C-13.9834 228.306 17.0166 144.306 76.2166 85.2064C135.417 26.1064 219.317 -4.99356 296.817 15.1064C312.817 19.2064 329.817 16.7064 345.717 12.1064C352.817 10.1064 360.317 9.00644 368.017 9.00644ZM246.717 144.006C194.717 159.206 150.217 203.706 135.017 255.706C131.317 268.406 117.917 275.706 105.217 272.006C92.5166 268.306 85.2166 254.906 88.9166 242.206C108.717 174.506 165.517 117.706 233.217 97.9064C245.917 94.2064 259.317 101.506 263.017 114.206C266.717 126.906 259.417 140.306 246.717 144.006Z"
            fill="#FACC15"></path>
          <path
            d="M522 309H595.2L591.3 330H490.8L528 120.9H555.3L522 309ZM680.892 142.2L668.292 213.9H744.192L740.592 234.9H664.692L651.492 308.4H736.692L732.792 330H620.292L657.492 120.6H769.692L765.792 142.2H680.892ZM1022.8 122.4L986.201 330H958.901L986.201 175.2L889.901 330H870.701L828.701 175.8L801.401 330H774.101L811.001 122.4H840.401L886.901 294L993.701 122.4H1022.8ZM1127.9 332.1C1110.5 332.1 1095.2 328.5 1082 321.3C1068.8 313.9 1058.5 303.6 1051.1 290.4C1043.9 277.2 1040.3 262.1 1040.3 245.1C1040.3 221.5 1045.6 200.1 1056.2 180.9C1067 161.5 1081.8 146.3 1100.6 135.3C1119.4 124.1 1140.4 118.5 1163.6 118.5C1181.2 118.5 1196.6 122.2 1209.8 129.6C1223.2 136.8 1233.5 147 1240.7 160.2C1247.9 173.2 1251.5 188.2 1251.5 205.2C1251.5 229 1246.1 250.6 1235.3 270C1224.7 289.2 1210 304.4 1191.2 315.6C1172.4 326.6 1151.3 332.1 1127.9 332.1ZM1131.8 307.5C1149.4 307.5 1165.1 303 1178.9 294C1192.9 284.8 1203.8 272.5 1211.6 257.1C1219.4 241.7 1223.3 225 1223.3 207C1223.3 187.2 1217.6 171.6 1206.2 160.2C1194.8 148.8 1179.3 143.1 1159.7 143.1C1142.1 143.1 1126.3 147.7 1112.3 156.9C1098.5 165.9 1087.7 178.1 1079.9 193.5C1072.3 208.7 1068.5 225.3 1068.5 243.3C1068.5 263.1 1074.1 278.8 1085.3 290.4C1096.7 301.8 1112.2 307.5 1131.8 307.5ZM1432.74 330H1405.44L1325.34 163.5L1295.64 330H1268.34L1305.54 120.6H1332.84L1413.24 286.8L1442.64 120.6H1469.94L1432.74 330Z"
            fill="#FACC15"></path>
        </svg>
      </div>
      <div class="block md:hidden">
        <svg
          class="w-10 h-10"
          width="450"
          height="450"
          viewBox="0 0 450 450"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M369 49.0001C365.8 49.0001 362.8 49.4001 360.1 50.3001C341 55.8001 314 60.9001 285.8 53.6001C228.4 38.7001 161.2 61.0001 111.1 111.1C61 161.2 38.7 228.4 53.6 285.8C60.9 314 55.8 341 50.3 360.1C49.5 362.9 49 365.9 49 369C49 386.7 63.3 401 81 401C84.2 401 87.2 400.6 89.9 399.7C109 394.2 136 389 164.2 396.4C221.6 411.3 288.8 389 338.9 338.9C389 288.8 411.3 221.6 396.4 164.2C389.1 136 394.2 109 399.7 89.9001C400.5 87.1001 401 84.1001 401 81.0001C401 63.3001 386.7 49.0001 369 49.0001ZM369 1.0001C413.2 1.0001 449 36.8001 449 81.0001C449 88.7001 447.9 96.2001 445.9 103.3C441.3 119.1 438.8 136.2 442.9 152.2C463 229.8 432 313.7 372.9 372.9C313.8 432.1 229.8 463.1 152.2 442.9C136.2 438.8 119.2 441.3 103.3 445.9C96.2 447.9 88.7 449 81 449C36.8 449 0.999953 413.2 0.999953 369C0.999953 361.3 2.09995 353.8 4.09995 346.7C8.69995 330.9 11.2 313.8 7.09995 297.8C-13 220.3 18 136.3 77.2 77.2001C136.4 18.1001 220.3 -12.9999 297.8 7.10009C313.8 11.2001 330.8 8.70009 346.7 4.10009C353.8 2.10009 361.3 1.0001 369 1.0001ZM247.7 136C195.7 151.2 151.2 195.7 136 247.7C132.3 260.4 118.9 267.7 106.2 264C93.5 260.3 86.2 246.9 89.9 234.2C109.7 166.5 166.5 109.7 234.2 89.9001C246.9 86.2001 260.3 93.5001 264 106.2C267.7 118.9 260.4 132.3 247.7 136Z"
            fill="#FACC15"></path>
        </svg>
      </div>
    </a>
  </div>
  <div class="hidden sm:block flex-shrink flex-grow-0 justify-start px-2">
    <div class="inline-block">
      <div class="inline-flex items-center max-w-full">
        <button
          class="flex items-center flex-grow-0 flex-shrink pl-2 relative w-60 border rounded-full px-1 py-1"
          type="button"
        >
          <div class="block flex-grow flex-shrink overflow-hidden">
            Start your search
          </div>
          <div
            class="flex items-center justify-center relative h-8 w-8 rounded-full"
          >
            <svg
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                              display: block;
                              fill: none;
                              height: 12px;
                              width: 12px;
                              stroke: currentcolor;
                              stroke-width: 5.33333;
                              overflow: visible;
                          "
            >
              <g fill="none">
                <path
                  d="m13 24c6.0751322 0 11-4.9248678 11-11 0-6.07513225-4.9248678-11-11-11-6.07513225 0-11 4.92486775-11 11 0 6.0751322 4.92486775 11 11 11zm8-3 9 9"
                ></path>
              </g>
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="flex-initial">
    <div class="flex justify-end items-center relative">
      <div class="flex mr-4 items-center">
        <a
          class="inline-block py-2 px-3 hover:bg-gray-200 rounded-full"
          href="#"
        >
          <div
            class="flex items-center relative cursor-pointer whitespace-nowrap"
          >
            Become a host
          </div>
        </a>
        <div class="block relative">
          <button
            type="button"
            class="inline-block py-2 px-3 hover:bg-gray-200 rounded-full relative"
          >
            <div class="flex items-center h-5">
              <div class="_xpkakx">
                <svg
                  viewBox="0 0 16 16"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="presentation"
                  focusable="false"
                  style="display: block; height: 16px; width: 16px; fill: currentcolor;"
                  ><path
                    d="m8.002.25a7.77 7.77 0 0 1 7.748 7.776 7.75 7.75 0 0 1 -7.521 7.72l-.246.004a7.75 7.75 0 0 1 -7.73-7.513l-.003-.245a7.75 7.75 0 0 1 7.752-7.742zm1.949 8.5h-3.903c.155 2.897 1.176 5.343 1.886 5.493l.068.007c.68-.002 1.72-2.365 1.932-5.23zm4.255 0h-2.752c-.091 1.96-.53 3.783-1.188 5.076a6.257 6.257 0 0 0 3.905-4.829zm-9.661 0h-2.75a6.257 6.257 0 0 0 3.934 5.075c-.615-1.208-1.036-2.875-1.162-4.686l-.022-.39zm1.188-6.576-.115.046a6.257 6.257 0 0 0 -3.823 5.03h2.75c.085-1.83.471-3.54 1.059-4.81zm2.262-.424c-.702.002-1.784 2.512-1.947 5.5h3.904c-.156-2.903-1.178-5.343-1.892-5.494l-.065-.007zm2.28.432.023.05c.643 1.288 1.069 3.084 1.157 5.018h2.748a6.275 6.275 0 0 0 -3.929-5.068z"
                  ></path></svg
                >
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
